@model IEnumerable<RawTorpedo.Models.Game>

@{
    ViewData["Title"] = "Index";
}

<h2>Index</h2>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.GameName)
        </th>
        <th>
            Number of Players
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Playtime)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Publisher)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PublishedDate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Mechanics)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Themes)
        </th>
        <th></th>
    </tr>
    
@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.GameName)
        </td>
        <td>
            @String.Format("{0} - {1} | {2}", item.MinNumberOfPlayers, item.MaxNumberOfPlayers, item.SweetNumberOfPlayers)
        </td>
        <td>
            @item.Playtime.GetDisplayName()
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Publisher)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.PublishedDate)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Mechanics)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Themes)
        </td>        
        <td>
            <a asp-action="Edit" asp-route-id="@item.ID">Edit</a> |
            <a asp-action="Details" asp-route-id="@item.ID">Details</a> |
            <a asp-action="Delete" asp-route-id="@item.ID">Delete</a>
        </td>
    </tr>
}
</table>
